In [1]:
import pandas as pd
import numpy as np

In [15]:
df1 = pd.read_excel(r'C:/Users/mi13966/Downloads/clase0.xlsx')
df2 = pd.read_excel(r'C:/Users/mi13966/Downloads/clase1.xlsx')

In [17]:
df1

           key1  key2  data
0  Buenos Aires  2020     0
1  Buenos Aires  2021     1
2  Buenos Aires  2022     2
3       Cordoba  2021     3
4       Cordoba  2022     4
5      Santa Fe  2020     5
6      Santa Fe  2020     6

In [18]:
df2

           key1  key2  event1  event2
0       Cordoba  2021       0       1
1       Cordoba  2020       2       3
2  Buenos Aires  2020       4       5
3  Buenos Aires  2020       6       7
4  Buenos Aires  2021       8       9
5  Buenos Aires  2022      10      11
6      Santa Fe  2020      12      13
7      Santa Fe  2019      14      15

In [20]:
pd.merge(df1,df2, on =['key1',"key2"], how = 'inner')

           key1  key2  data  event1  event2
0  Buenos Aires  2020     0       4       5
1  Buenos Aires  2020     0       6       7
2  Buenos Aires  2021     1       8       9
3  Buenos Aires  2022     2      10      11
4       Cordoba  2021     3       0       1
5      Santa Fe  2020     5      12      13
6      Santa Fe  2020     6      12      13

In [21]:
pd.merge(df1,df2, on =['key1',"key2"], how = 'left')

           key1  key2  data  event1  event2
0  Buenos Aires  2020     0     4.0     5.0
1  Buenos Aires  2020     0     6.0     7.0
2  Buenos Aires  2021     1     8.0     9.0
3  Buenos Aires  2022     2    10.0    11.0
4       Cordoba  2021     3     0.0     1.0
5       Cordoba  2022     4     NaN     NaN
6      Santa Fe  2020     5    12.0    13.0
7      Santa Fe  2020     6    12.0    13.0

In [22]:
pd.merge(df1,df2, on =['key1',"key2"], how = 'right')

           key1  key2  data  event1  event2
0       Cordoba  2021   3.0       0       1
1       Cordoba  2020   NaN       2       3
2  Buenos Aires  2020   0.0       4       5
3  Buenos Aires  2020   0.0       6       7
4  Buenos Aires  2021   1.0       8       9
5  Buenos Aires  2022   2.0      10      11
6      Santa Fe  2020   5.0      12      13
7      Santa Fe  2020   6.0      12      13
8      Santa Fe  2019   NaN      14      15

In [23]:
pd.concat([df1,df2], axis = 0)

           key1  key2  data  event1  event2
0  Buenos Aires  2020   0.0     NaN     NaN
1  Buenos Aires  2021   1.0     NaN     NaN
2  Buenos Aires  2022   2.0     NaN     NaN
3       Cordoba  2021   3.0     NaN     NaN
4       Cordoba  2022   4.0     NaN     NaN
5      Santa Fe  2020   5.0     NaN     NaN
6      Santa Fe  2020   6.0     NaN     NaN
0       Cordoba  2021   NaN     0.0     1.0
1       Cordoba  2020   NaN     2.0     3.0
2  Buenos Aires  2020   NaN     4.0     5.0
3  Buenos Aires  2020   NaN     6.0     7.0
4  Buenos Aires  2021   NaN     8.0     9.0
5  Buenos Aires  2022   NaN    10.0    11.0
6      Santa Fe  2020   NaN    12.0    13.0
7      Santa Fe  2019   NaN    14.0    15.0

In [24]:
pd.concat([df1,df2], axis = 1)

           key1    key2  data          key1  key2  event1  event2
0  Buenos Aires  2020.0   0.0       Cordoba  2021       0       1
1  Buenos Aires  2021.0   1.0       Cordoba  2020       2       3
2  Buenos Aires  2022.0   2.0  Buenos Aires  2020       4       5
3       Cordoba  2021.0   3.0  Buenos Aires  2020       6       7
4       Cordoba  2022.0   4.0  Buenos Aires  2021       8       9
5      Santa Fe  2020.0   5.0  Buenos Aires  2022      10      11
6      Santa Fe  2020.0   6.0      Santa Fe  2020      12      13
7           NaN     NaN   NaN      Santa Fe  2019      14      15